@page "/Paid"
@attribute [Authorize(Roles = "Administrator")]
@rendermode InteractiveServer

@inject AdminControlledSessionService adminControlledSessionService
@inject AdminDataService adminDataService
@inject NavigationManager Navigation
@inject PageRedirectService redirectService

<div class="main">
    <div class="dashboard-container">

        <div class="top-bar mx-3">
            <h2>Accounts with Paid Loan</h2>
        </div>

        <hr class="divider" />

        <div class="d-flex align-items-center gap-3 m-3 flex-wrap">

            <div class="d-flex align-items-center gap-3">
                <input class="form-control form-control-sm" @bind="searchAccount" placeholder="Search specific account">
            </div>

            <div class="d-flex align-items-center gap-3">
                <label class="text-light mb-0" style="white-space: nowrap;">Start Date</label>
                <InputDate class="form-control form-control-sm" @bind-Value="startDate" />
            </div>

            <div class="d-flex align-items-center gap-3">
                <label class="text-light mb-0" style="white-space: nowrap;">End Date</label>
                <InputDate class="form-control form-control-sm" @bind-Value="endDate" />
            </div>

            @* <div class="d-flex align-items-center gap-3">
                <label class="text-light mb-0" style="white-space: nowrap;">Account Type</label>
                <select class="form-select form-select-sm" @bind="selectedType">
                    <option value="">All</option>
                    @foreach (var type in accountTypeList)
                    {
                        <option value="@accountTypeList.IndexOf(type)">type</option>
                    }
                </select>
            </div> *@

            <button class="btn btn-primary btn-sm shadow-sm">Filter</button>
            <button class="btn btn-danger btn-sm shadow-sm">Clear Filter</button>

        </div>

        <hr class="divider" />

        <div class="table-responsive m-4 rounded">
            <table class="table table-bordered text-center">
                <thead class="table-info">
                    <tr>
                        <th class="align-middle">Statement Date</th>
                        <th class="align-middle">Account<br />Number</th>
                        <th class="align-middle">Name</th>
                        <th class="align-middle">Loan Amount</th>
                        <th class="align-middle">Loan Term</th>
                        <th class="align-middle">Operation</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var a in accountList)
                    {

                        <tr class="bg-light">
                            <td>05/10/2025</td>
                            <td>1234567890</td>
                            <td>Juan Dela Cruz</td>
                            <td>juan.delacruz@example.com</td>
                            <td>
                                <a href="view_loan_account" class="btn btn-info btn-secondary btn-sm rounded text-dark shadow-sm" style="border: 2px solid cyan">View</a>
                            </td>
                        </tr>
                        @*<tr class="bg-light">
                            <td>a.StatementDate.ToString("MM/dd/yyyy")</td>
                            <td>@a.AccountNumber</td>
                            <td>@a.AccountName</td>
                            <td>a.LoanAmount</td>
                            <td>a.LoanTerm</td>
                            <td>
                                <a href="Loan_status" class="btn btn-info btn-secondary btn-sm rounded text-dark shadow-sm" style="border: 2px solid cyan">View</a>
                            </td>
                        </tr>*@
                    }
                    @* @foreach (var a in accounts)
                    {
                        <tr class="bg-light">
                            <td>@a.Date.ToString("MM/dd/yyyy")</td>
                            <td>@a.Time.ToString(@"hh\:mm\:ss")</td>
                            <td>@a.Name</td>
                            <td>@a.AccountType</td>
                            <td>
                                <button class="btn btn-info btn-secondary btn-sm rounded text-dark shadow-sm" style="border: 2px solid cyan" @onclick="() => ViewDetails(a)">View</button>
                            </td>
                            <td class="text-secondary">@a.Status</td>
                        </tr>
                    } *@
                </tbody>
            </table>
        </div>

        <div class="scroll-container gap-3 mx-5">
            <!-- Up Arrow -->
            <button class="arrow-ud">
                <i class="bi bi-chevron-up text-light"></i>
            </button>

            <!-- Down Arrow -->
            <button class="arrow-ud">
                <i class="bi bi-chevron-down text-light"></i>
            </button>
        </div>

    </div>
</div>

@code {

    private List<string> accountTypeList = AccountTypes.AS_STRING_LIST;

    private DateTime? startDate = DateTime.Now.AddDays(-DateTime.Now.Day + 1);
    private DateTime? endDate = DateTime.Now;
    // private string selectedType = "";
    private string searchAccount = "";

    private List<Account> accountList = new();

}
