@page "/View_details_account"
@attribute [Authorize(Roles = "Administrator")]
@rendermode InteractiveServer

@using E_BankingSystem.Components.Client_page.Accounts

@inject AdminControlledSessionService adminControlledSessionService
@inject AdminDataService adminDataService
@inject PageRedirectService redirectService
@inject NavigationManager navigationManager
@inject UserDataService userDataService

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


<div class="page">
	<main>
		@if (error.Length > 0)
		{
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
				<strong>@error</strong>
			</div>
		}

		<div class="card registration mt-3 p-4 shadow-lg">
			<div class="d-flex justify-content-between align-items-center flex-wrap">
				<h3 class="fw-bold text-light">Registration For Loan</h3>

				<!-- Close Button -->
				<NavLink href="/Dashboard">
					<button class="btn-close" aria-label="Close"></button>
				</NavLink>
			</div>

			<!-- Row 1 -->
			<div class="row g-3 mt-2">
				<div class="col-3">
					<label class="text-light">First Name</label>
					@* <input class="form-control" @bind="firstName" placeholder="First Name" required> *@
					<div class="form-control form-control-sm">@firstName</div>
				</div>
				<div class="col-3">
					<label class="text-light">Middle Name</label>@* 
					<input class="form-control" @bind="middleName" placeholder="Middle Name"> *@
					<div class="form-control form-control-sm">@middleName</div>
				</div>
				<div class="col-3">
					<label class="text-light">Last Name</label>@* 
					<input class="form-control" @bind="lastName" placeholder="Last Name" required> *@
					<div class="form-control form-control-sm">@lastName</div>
				</div>
				<div class="col-3">
					<label class="text-light">Suffix</label>@* 
					<input class="form-control" @bind="suffix" placeholder="Suffix"> *@
					<div class="form-control form-control-sm">@suffix</div>
				</div>
			</div>

			<!-- Row 2 -->
			<div class="row g-3">
				<div class="col-4">
					<label class="text-light">Province</label>@* 
					<input class="form-control" @bind="province" placeholder="Province" required> *@
					<div class="form-control form-control-sm">@province</div>
				</div>
				<div class="col-4">
					<label class="text-light">Municipality</label>@* 
					<input class="form-control" @bind="municipality" placeholder="Municipality" required> *@
					<div class="form-control form-control-sm">@municipality</div>
				</div>
				<div class="col-4">
					<label class="text-light">Barangay</label>@* 
					<input class="form-control" @bind="barangay" placeholder="Barangay" required> *@
					<div class="form-control form-control-sm">@barangay</div>
				</div>
			</div>

			<!-- Row 3 -->
			<div class="row g-3 mt-2">
				<div class="col-6">
					<label class="text-light">Street No.</label>@* 
					<input class="form-control" @bind="street" placeholder="Street No." required> *@
					<div class="form-control form-control-sm">@street</div>
				</div>
				<div class="col-6">
					<label class="text-light">House No.</label>@* 
					<input class="form-control" @bind="houseNumber" placeholder="House No." required> *@
					<div class="form-control form-control-sm">@houseNumber</div>
				</div>
			</div>

			<div class="row g-3 mt-2">
				<!-- Row 4-->
				<div class="col-2">
					<label class="text-light">Age</label>
					@* <input class="form-control" type="number" @bind="age" placeholder="Age" required>> *@
					<div class="form-control form-control-sm">@age</div>
				</div>
				<div class="col-2">
					<label class="text-light">Birth Date</label>
					@* <input class="form-control" type="date" @bind="birthDate" placeholder="mm/dd/yyyy" required> *@
					<div class="form-control form-control-sm">@birthDate.ToShortDateString()</div>
				</div>
				<div class="col-2">
					<label class="text-light">Sex</label>
					@* <select class="form-select" @bind="sex" required>
						<option value="" disabled hidden>--Select Sex--</option>
						<option>Male</option>
						<option>Female</option>
					</select> *@
					<div class="form-control form-control-sm">@sex</div>
				</div>
				<div class="col-3">
					<label class="text-light">Contact No.</label>
					<input class="form-control form-control-sm" @bind="contactNo" placeholder="Contact No." required>
				</div>
				<div class="col-3">
					<label class="text-light">Email</label>
					<input class="form-control form-control-sm" @bind="email" placeholder="Sample@gmail.com" required>
				</div>

				<!-- Row 5 -->
				<div class="col-3">
					<label class="text-light">Civil Status</label>@* 
					<select class="form-select" @bind="civilStatus" required>
						<option value="" disabled hidden>--Select Civil Status--</option>
						<option>Single</option>
						<option>Married</option>
						<option>Separated</option>
						<option>Widowed</option>
					</select> *@
					<div class="form-control form-control-sm">@civilStatus</div>
				</div>
				<div class="col-3">
					<label class="text-light">Occupation</label>@* 
					<input class="form-control" @bind="occupation" placeholder="Occupation" required> *@
					<div class="form-control form-control-sm">@occupation</div>
				</div>

				<div class="col-3">
					<label class="text-light">Gross Annual Income (>= 250 000.00)</label>
					<input class="form-control form-control-sm" @bind="minAnnualGross" placeholder="Minimum 250,000" required>
				</div>

				<div class="col-3">
					<label class="text-light">Type of Loan</label>
					@* <select class="form-select form-select-sm" @bind="loanTypeId" @bind:after="OnLoanTypeChange" required>
						<option value="-1" disabled hidden>--Select Loan Type--</option>
						@foreach (var loanType in LoanTypes.AS_STRING_LIST)
						{
							<option value="@LoanTypes.AS_STRING_LIST.IndexOf(loanType)">@loanType</option>
						}
					</select> *@
				</div>
			</div>

			<div class="row g-3 mt-2">
				<!-- Row 6 -->
				<div class="col-3">
					<label class="text-light">@loanAmountLabel</label>
					<input type="number" step="1" class="form-control form-control-sm" @bind="loanAmount" placeholder="Loan Amount" min="@minimumLoanAmount" required>
				</div>
				<div class="col-3">
					<label class="text-light">Loan Purpose</label>
					<input class="form-control form-control-sm" @bind="loanPurpose" placeholder="Home Purchase, Education, Debt Consolidation, etc" required>
				</div>
				<div class="col-3">
					<label class="text-light">@loanTermInMonthsLabel</label>
					<input type="number" class="form-control form-control-sm" @bind="loanTermInMonths" placeholder="Months to Pay" min="@minimumLoanTerm" required>
				</div>
				<div class="col-3">
					<label class="text-light">Preferred Payment Frequency</label>
					<select class="form-select form-select-sm" @bind="paymentFrequency" required>
						<option value="-1" disabled hidden>--Select Payment Frequency--</option>
						<option value="12">Monthly</option>
						<option value="6">Bi-Monthly</option>
						<option value="4">Quarterly</option>
					</select>
				</div>
			</div>

			<!-- File Uploads -->
			<div class="row g-3 mt-3">
				<div class="col-6">
					<label class="text-light">Upload Government Valid ID (Front & Back)</label>
					<div class="d-flex flex-wrap gap-2">
						<button class="btn btn-outline-light btn-sm" data-bs-toggle="modal" data-bs-target="#govIdModal">View Attachment</button>
					</div>
				</div>

				<div class="col-6">
					<label class="text-light">Upload Latest Complete 1 Month Payslip</label>
					<div class="d-flex flex-wrap gap-2">
						<button class="btn btn-outline-light btn-sm" data-bs-toggle="modal" data-bs-target="#payslipModal">View Attachment</button>
					</div>
				</div>
			</div>

			<!--View attachment-->
			<div class="modal fade" id="govIdModal" tabindex="-1" aria-labelledby="govIdModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg modal-dialog-centered">
					<div class="modal-content bg-dark text-white">
						<div class="modal-header">
							<h5 class="modal-title" id="govIdModalLabel">Government Valid ID</h5>
							<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body text-center">
							@if (!string.IsNullOrWhiteSpace(GovernmentId))
							{
								<img src="@GovernmentId" class="img-fluid rounded shadow" alt="Government ID" />
							}
							else
							{
								<p>No Government ID uploaded.</p>
							}
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="payslipModal" tabindex="-1" aria-labelledby="payslipModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg modal-dialog-centered">
					<div class="modal-content bg-dark text-white">
						<div class="modal-header">
							<h5 class="modal-title" id="payslipModalLabel">Payslip</h5>
							<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body text-center">
							@if (!string.IsNullOrWhiteSpace(PayslipPicture))
							{
								<img src="@PayslipPicture" class="img-fluid rounded shadow" alt="Payslip" />
							}
							else
							{
								<p>No payslip picture uploaded.</p>
							}
						</div>
					</div>
				</div>
			</div>

			<!-- Terms and Conditions -->
			<div class="form-check d-flex justify-content-end mt-3">
				<input class="form-check-input mx-2" type="checkbox" id="termsAndConditions" required>
				<label class="form-check-label text-light" for="termsAndConditions">
					I accept the terms and conditions
				</label>
			</div>

			<!-- Register Button -->
			<div class="d-flex justify-content-end gap-2 mt-3">
				<button class="btn btn-danger btn-secondary fs-5 mx-2">Reject</button>
				<button class="btn btn-warning btn-secondary fs-6 mx-2">Resubmission<br />Request</button>
				<button class="btn btn-primary btn-secondary fs-5 mx-2">Approve</button>
			</div>
		</div>
	</main>

</div>

@code {
	private string error = "";

	//display labels
	private string loanAmountLabel = "Loan Amount";
	private string loanTermInMonthsLabel = "Loan term in Months";
	private decimal minimumLoanAmount = 0.00m;
	private int minimumLoanTerm;

	// personal information
	private string firstName = "";
	private string middleName = "";
	private string lastName = "";
	private string suffix = "";
	private int age;
	private DateTime birthDate;
	private string sex = "";
	private string contactNo = "";
	private string civilStatus = "";
	private string occupation = "";
	private decimal minAnnualGross = 0.00m;

	// address
	private string province = "";
	private string municipality = "";
	private string barangay = "";
	private string street = "";
	private string houseNumber = "";

	//authentication
	private string email = "";

	//loan details
	private int loanTypeId = -1;
	private decimal loanAmount;
	private string loanPurpose = "";
	private int loanTermInMonths;
	private int paymentFrequency = -1;

	//pictures
	private byte[]? governmentId;
	private byte[]? payslipPicture;

	private UserInfo? userInfo { get; set; } = default!;
	private Address? address { get; set; } = default!;
	private BirthInfo? birthInfo { get; set; } = default!;
	private int accountId { get; set; }

	private string? GovernmentId => userInfo?.GovernmentId != null
	? $"data:image/jpeg;base64,{Convert.ToBase64String(userInfo.GovernmentId)}"
	: null;

	private string? PayslipPicture => userInfo?.PayslipPicture != null
		? $"data:image/jpeg;base64,{Convert.ToBase64String(userInfo.PayslipPicture)}"
		: null;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			//PendingAccountSession pendingAccountSession = await adminDataService.
		}
	}
}
