@rendermode InteractiveServer

@inject IWebHostEnvironment Env
@inject UserControlledSessionService userControlledSessionService
@inject UserSessionService userSessionService
@inject PageRedirectService redirectService

<AuthorizeView Roles = "@RoleNames.USER">
    <Authorized>

        <!-- Side NavBar Layout -->
        <nav class="sidebar @(isSidebarVisible ? "" : "collapsed")">
            <button class="btn btn-toggle-sidebar text-white" @onclick="ToggleSidebar">
                <span class="d-flex fs-3">☰</span>
            </button>

            <!-- Top Row -->
            <div class="top-row border-bottom">

                <!-- Profile Picture Container (Draft) -->
                <div class="profile-picture_container">
                    <div class="profile-placeholder"></div>
                    @* 
                    <label for="fileInput">
                        @if (previewImage != null)
                        {
                            <img src="@previewImage" class="profile-picture" />
                        }
                        else
                        {
                            <div class="profile-placeholder">
                                <span>No Image</span>
                            </div>
                        }
                    </label>

                    <div class="edit-overlay">
                        <i class="fas fa-camera"></i>
                    </div>
                    <InputFile id="fileInput" style="display: none;" OnChange="HandleSelected" accept="image/*" /> *@
                </div>

                <div class="text-light mt-3">
                    <p class="m-0 p-0">@_fullName</p>
                    <p style="font-size: small;">@_email</p>
                </div>

            </div>

            <!-- Sidebar Navigation Links (Middle Row)-->
            <div class="position-relative" onclick="document.querySelector('.toggler').click()">
                <p class="position-absolute text-light top-0 start-0 mx-4 my-3 fw-lighter" style="font-size: 0.75rem;">USER</p>
                <div class="middle-row border-bottom">
                    <nav class="flex-column">
                        <div class="nav-item px-3 pt-5">
                            <NavLink class="nav-link" href="@clientHomePage" Match="NavLinkMatch.All">Home</NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="@accountsPage">My Accounts</NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <button class="nav-link @(hasWithdrawError ? "error-link" : "")" @onclick="TryRedirectToWithdrawPage">Withdraw</button>
                        </div>
                        <div class="nav-item px-3">
                            <button class="nav-link @(hasDepositError ? "error-link" : "")" @onclick="TryRedirectToDepositPage">Deposit</button>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link lh-sm" href="@transactionsPage">Transactions</NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <button class="nav-link lh-sm @(hasTransferError ? "error-link" : "")" @onclick="TryRedirectToTransferPage">Transfer Money</button>
                        </div>
                        <div class="nav-item px-3">
                            <button class="nav-link lh-sm @(hasApplyLoanError ? "error-link" : "")" @onclick="TryRedirectToApplyLoan">Apply for Loan</button>
                        </div>
                        <div class="nav-item px-3">
                            <button class="nav-link lh-sm text-start @(hasLoanBalanceError ? "error-link" : "")" @onclick="TryRedirectToLoanBalance">Check Loan Balance</button>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link lh-sm" href="/Pay_loan">Pay Loan</NavLink>
                        </div>
                    </nav>
                </div>
            </div>

            <!-- Sidebar Navigation Links (Bottom Row) -->
            <div class="position-relative" onclick="document.querySelector('.toggler').click()">
                <p class="position-absolute text-light top-0 start-0 mx-4 my-3 fw-lighter" style="font-size: 0.75rem;">OTHERS</p>
                <div class="bottom-row">
                    <nav class="flex-column">
                        <div class="nav-item px-3 pt-5">
                            <NavLink class="nav-link" href="/Settings_page" Match="NavLinkMatch.All">Settings</NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="@PageRoutes.OPEN_ANOTHER_ACCOUNT">Open Account</NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <button class="nav-link" @onclick="LogOutAsync"> Logout</button>
                        </div>
                    </nav>
                </div>
            </div>

        </nav>
    </Authorized>

</AuthorizeView>


@code {
    public UserSession userSession { get; set; } = default!;
    public AccountViewSession activeAccountSession { get; set; } = default!;
    //  href routes
    private string clientHomePage = PageRoutes.CLIENT_HOME;
    private string accountsPage = PageRoutes.ACCOUNTS;
    private string transactionsPage = PageRoutes.TRANSACTIONS;

    private string _fullName = "Loading...";
    private string _email = "Loading...";

    private bool hasWithdrawError = false;
    private bool hasDepositError = false;
    private bool hasTransferError = false;
    private bool hasApplyLoanError = false;
    private bool hasLoanBalanceError = false;

    private bool isSidebarVisible = true;

    private void ToggleSidebar()
    {
        isSidebarVisible = !isSidebarVisible;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                //  Get user session details from session storage.
                //  Throws SessionNotFoundException if session is not found.
                userSession = await userSessionService.GetUserSession();
                activeAccountSession = await userControlledSessionService
                    .GetActiveAccountSessionAsync(userSession);


                //  Set display data
                _fullName = userSession.CurrentUserName;
                _email = userSession.CurrentUserEmail;

                //  Reload component
                StateHasChanged();
            }
            catch (SessionNotFoundException)
            {
                //  Redirect to LOGGING_IN_PAGE if there is no user session.
                redirectService.redirectWithNavigationManager(PageRoutes.LOGGING_IN_PAGE);
            }
        }
    }

    private async Task TryRedirectToWithdrawPage()
    {
        if (activeAccountSession.AccountCanTransact)
        {
            redirectService.redirectWithNavigationManager(PageRoutes.WITHDRAW_AMOUNT);
            return;
        }

        hasWithdrawError = true;
        StateHasChanged();
        await Task.Delay(3000);
        hasWithdrawError = false;
        StateHasChanged();
    }

    private async Task TryRedirectToDepositPage()
    {
        if (activeAccountSession.AccountCanTransact)
        {
            redirectService.redirectWithNavigationManager(PageRoutes.DEPOSIT_AMOUNT);
            return;
        }

        hasDepositError = true;
        StateHasChanged();
        await Task.Delay(3000);
        hasDepositError = false;
        StateHasChanged();
    }

    private async Task TryRedirectToTransferPage()
    {
        if (activeAccountSession.AccountCanTransact)
        {
            redirectService.redirectWithNavigationManager(PageRoutes.TRANSFER_AMOUNT);
            return;
        }

        hasTransferError = true;
        StateHasChanged();
        await Task.Delay(3000);
        hasTransferError = false;
        StateHasChanged();
    }

    private async Task TryRedirectToApplyLoan()
    {
        if (activeAccountSession.AccountCanApplyLoan)
        {
            redirectService.redirectWithNavigationManager(PageRoutes.APPLY_LOAN);
            return;
        }

        hasApplyLoanError = true;
        StateHasChanged();
        await Task.Delay(3000);
        hasApplyLoanError = false;
        StateHasChanged();
    }

    private async Task TryRedirectToLoanBalance()
    {
        if (activeAccountSession.AccountCanPayLoan)
        {
            redirectService.redirectWithNavigationManager(PageRoutes.LOAN_BALANCE);
            return;
        }

        hasLoanBalanceError = true;
        StateHasChanged();
        await Task.Delay(3000);
        hasLoanBalanceError = false;
        StateHasChanged();
    }

    private async Task LogOutAsync()
    {
        //  End user session.
        await userSessionService.EndSession();

        //  Redirect to LOG_OUT_PAGE.
        redirectService.redirectWithNavigationManager(PageRoutes.LOG_OUT_PAGE);
    }
}

@* 
@code {
    private string? previewImage;

    private async Task HandleSelected(InputFileChangeEventArgs e)
    {
        var imageFile = e.File;
        var buffer = new byte[imageFile.Size];
        await imageFile.OpenReadStream(5 * 1024 * 1024).ReadAsync(buffer);
        previewImage = $"data:image/png;base64,{Convert.ToBase64String(buffer)}";

        var uploadsPath = Path.Combine(Env.WebRootPath, "uploads");
        Directory.CreateDirectory(uploadsPath);
        var filePath = Path.Combine(uploadsPath, imageFile.Name);
        using var fs = new FileStream(filePath, FileMode.Create);
        await imageFile.OpenReadStream().CopyToAsync(fs);
    }
}
 *@