@page "/ViewDetails"
@attribute [Authorize(Roles="Administrator")]
@rendermode InteractiveServer

@inject AdminDataService adminDataService
@inject PageRedirectService redirectService
@inject UserDataService userDataService

<div class="card registration mt-3 p-4 shadow-lg">
    <main>
        <h3 class="fw-bold text-light">Confirmation of Details</h3>

        <div class="row g-2 mt-2">
            <div class="col-3">
                <label class="text-light">First Name:</label>
                <div class="form-control form-control-sm bg-light">@(userInfo?.UserName?.FirstName ?? string.Empty)</div>
            </div>

            <div class="col-3">
                <label class="text-light">Middle Name:</label>
                <div class="form-control form-control-sm bg-light">@(userInfo?.UserName?.MiddleName ?? string.Empty)</div>
            </div>

            <div class="col-3">
                <label class="text-light">Last Name:</label>
                <div class="form-control form-control-sm bg-light">@(userInfo?.UserName?.LastName ?? string.Empty)</div>
            </div>

            <div class="col-1">
                <label class="text-light">Suffix:</label>
                <div class="form-control form-control-sm bg-light">@(userInfo?.UserName?.Suffix ?? string.Empty)</div>
            </div>
        </div>

        <!-- Row 3 -->
        <div class="row g-2 mt-2">
            <div class="col-1">
                <label class="text-light">Age</label>
                <div class="form-control form-control-sm">@(userInfo?.Age ?? 0)</div>
            </div>

            <div class="col-1">
                <label class="text-light">Sex</label>
                <div class="form-control form-control-sm">@(userInfo?.Sex ?? string.Empty)</div>
            </div>

            <div class="col-2">
                <label class="text-light">Civil Status</label>
                <div class="form-control form-control-sm">@(userInfo?.CivilStatus ?? string.Empty)</div>
            </div>

            <div class="col">
                <label class="text-light">Religion</label>
                <div class="form-control form-control-sm">@(userInfo?.Religion?.ReligionName ?? string.Empty)</div>
            </div>

            <div class="col">
                <label class="text-light">Contact No.</label>
                <div class="form-control form-control-sm">@(userInfo?.ContactNumber ?? string.Empty)</div>
            </div>

            <div class="col">
                <label class="text-light">Email Address</label>
                <div class="form-control form-control-sm">@(userInfo?.UserAuth?.Email ?? string.Empty)</div>
            </div>
        </div>

        <!-- Row 4 -->
        <div class="row g-2 mt-3">
            <label class="text-light">Full Address</label>

            <div class="col">
                <label class="text-light">Region</label>
                <div class="form-control form-control-sm">@(address?.Region?.RegionName ?? string.Empty)</div>
            </div>

            <div class="col">
                <label class="text-light">Province</label>
                <div class="form-control form-control-sm">@(address?.Province?.ProvinceName ?? string.Empty)</div>
            </div>

            <div class="col">
                <label class="text-light">Postal Code</label>
                <div class="form-control form-control-sm">@(address?.PostalCode ?? 0000)</div>
            </div>

            <div class="col">
                <label class="text-light">Municipality/City</label>
                <div class="form-control form-control-sm">@(address?.City?.CityName ?? string.Empty)</div>
            </div>

            <div class="col">
                <label class="text-light">Barangay</label>
                <div class="form-control form-control-sm">@(address?.Barangay?.BarangayName ?? string.Empty)</div>
            </div>

            <div class="col">
                <label class="text-light">Street No.</label>
                <div class="form-control form-control-sm">@(address?.Street ?? string.Empty)</div>
            </div>

            <div class="col">
                <label class="text-light">House No.</label>
                <div class="form-control form-control-sm">@(address?.House ?? string.Empty)</div>
            </div>
        </div>

        <!-- Row 5 -->
        <div class="row g-2 mt-3">
            <label class="text-light">Birth Place</label>

            <div class="col">
                <label class="text-light">Region</label>
                <div class="form-control form-control-sm">@(birthInfo?.Region?.RegionName ?? string.Empty)</div>
            </div>

            <div class="col">
                <label class="text-light">Province</label>
                <div class="form-control form-control-sm">@(birthInfo?.Province?.ProvinceName ?? string.Empty)</div>
            </div>

            <div class="col">
                <label class="text-light">Municipality/City</label>
                <div class="form-control form-control-sm">@(birthInfo?.City?.CityName ?? string.Empty)</div>
            </div>

            <div class="col">
                <label class="text-light">Birth Date</label>
                <div class="form-control form-control-sm">@(birthInfo?.BirthDate ?? DateTime.UtcNow)</div>
            </div>

            <div class="col">
                <label class="text-light">Occupation</label>
                <div class="form-control form-control-sm">@(userInfo?.Occupation ?? string.Empty)</div>
            </div>
        </div>

        <div class="row g-2 mt-2">
            <!-- Row 6 (Father's Name)-->
            <div class="col-12">
                <label class="text-light">Father's Name</label>
                <div class="row g-2">
                    <div class="col-3">
                        <div class="form-control form-control-sm">@(userInfo?.FatherName?.FirstName ?? string.Empty)</div>
                    </div>
                    <div class="col-3">
                        <div class="form-control form-control-sm">@(userInfo?.FatherName?.MiddleName ?? string.Empty)</div>
                    </div>
                    <div class="col-3">
                        <div class="form-control form-control-sm">@(userInfo?.FatherName?.LastName ?? string.Empty)</div>
                    </div>
                    <div class="col-1">
                        <div class="form-control form-control-sm">@(userInfo?.FatherName?.Suffix ?? string.Empty)</div>
                    </div>
                </div>
            </div>

            <!-- Row 7 (Mother's Name)-->
            <div class="col-12">
                <label class="text-light">Mother's Maiden Name</label>
                <div class="row g-2">
                    <div class="col-3">
                        <div class="form-control form-control-sm">@(userInfo?.MotherName?.FirstName ?? string.Empty)</div>
                    </div>
                    <div class="col-3">
                        <div class="form-control form-control-sm">@(userInfo?.MotherName?.MiddleName ?? string.Empty)</div>
                    </div>
                    <div class="col-3">
                        <div class="form-control form-control-sm">@(userInfo?.MotherName?.LastName ?? string.Empty)</div>
                    </div>
                    <div class="col-1">
                        <div class="form-control form-control-sm">@(userInfo?.MotherName?.Suffix ?? string.Empty)</div>
                    </div>
                </div>
            </div>

            <!-- Row 8 (Beneficiary's Name) -->
            <div class="col-12">
                <label class="text-light">Beneficiary's Name</label>
                <div class="row g-2">
                    <div class="col-3">
                        <div class="form-control form-control-sm">[First Name here]</div>
                    </div>
                    <div class="col-3">
                        <div class="form-control form-control-sm">[Middle Name here]</div>
                    </div>
                    <div class="col-3">
                        <div class="form-control form-control-sm">[Last Name here]</div>
                    </div>
                    <div class="col-1">
                        <div class="form-control form-control-sm">[Suffix here]</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-3 mt-3">
            <!-- Upload Government ID -->
            <div class="col-md-4">
                <label class="text-light">Upload Government Valid ID (Front & Back)</label>
                <div class="d-flex gap-2">
                    <button class="btn btn-outline-light w-75">View</button>
                </div>
            </div>

            <!-- Upload 1x1 Picture -->
            <div class="col-md-4">
                <label class="text-light">Upload 1x1 Picture</label>
                <div class="d-flex gap-2">
                    <button class="btn btn-outline-light w-75">View</button>
                </div>
            </div>

            <!-- TIN -->
            <div class="col-md-3">
                <label class="text-light">Tax Identification Number</label>
                <div class="form-control form-control-sm">@(userInfo?.TaxIdentificationNumber ?? string.Empty)</div>
            </div>
        </div>

        <!-- Border -->
        <div class="d-flex align-items-center mt-5 mb-3">
            <span class="text-light me-2">Sign In Credentials</span>
            <div class="flex-grow-1">
                <hr class="m-0" style="border: 1px solid white; opacity: 100%;" />
            </div>
        </div>

        <!-- Credentials Inputs -->
        <div class="row g-2 mb-3">
            <div class="col-3">
                <label class="text-light">Username</label>
                <div class="form-control form-control-sm">@(userInfo?.UserAuth?.UserName ?? string.Empty)</div>
            </div>

            <div class="col-3">
                <label class="text-light">Password</label>
                <div class="form-control form-control-sm">[Password here]</div>
            </div>
        </div>

        <!-- Register Button -->
        <div class="d-flex justify-content-end gap-2 mt-3">
            <button class="btn btn-danger btn-secondary fs-5 mx-2" @onclick="RejectAsync">Reject</button>
            <button class="btn btn-warning btn-secondary fs-6 mx-2">Resubmission<br />Request</button>
            <button class="btn btn-primary btn-secondary fs-5 mx-2" @onclick="ApproveAsync">Approve</button>
        </div>
    </main>
</div>

@code
{
    private AdminSession admminSession { get; set; } = default!;
    private int accountId { get; set; }
    private UserAuth? userAuth { get; set; }
    private UserInfo? userInfo { get; set; } 
    private Address? address { get; set; } 
    private BirthInfo? birthInfo { get; set; }

    private string error { get; set; } = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                accountId = await adminDataService.GetPendingAccountSession();
                userInfo = await adminDataService.GetAccountPrimaryOwner(accountId);

                if (userInfo.AddressId is int addressId)
                {
                    address = await userDataService.TryGetAddressAsync(addressId);
                }
                if (userInfo.BirthInfoId is int birthInfoId)
                    birthInfo = await userDataService.TryGetBirthInfoAsync(birthInfoId);

                Console.WriteLine("EMAIL: " + userInfo?.UserAuth?.Email ?? "NO EMAIL");

                StateHasChanged();
            } 
            catch (SessionNotFoundException)
            {
                redirectService.redirectWithNavigationManager(PageRoutes.DASHBOARD);
            }
            catch (AccountNotFoundException ex)
            {
                Console.WriteLine("ACCOUNT_NOT_FOUND: " + ex.Message);
                error = ex.Message;
            }
            catch (AdminControlledSessionNotFound)
            {
                redirectService.redirectWithNavigationManager(PageRoutes.DASHBOARD);
            }
        }
    }

    private async Task RejectAsync()
    {
        try
        {
            await adminDataService.UpdatePendingAccountStatus(accountId, (int)AccountStatusTypes.Denied);
            await adminDataService.DeletePendingAccountSession();
            redirectService.redirectWithNavigationManager(PageRoutes.PENDING_ACCOUNTS);
        }
        catch (AccountNotFoundException ex)
        {
            Console.WriteLine("COULD NOT FETCH PRIMARY OWNER. " + ex.Message);
            error = ex.Message;
        }
        catch (UserNotFoundException ex)
        {
            Console.WriteLine("COULD NOT FETCH PRIMARY OWNER. " + ex.Message);
            error = ex.Message;
        }
    }
    private async Task ApproveAsync()
    {
        try
        {
            await adminDataService.UpdatePendingAccountStatus(accountId, (int)AccountStatusTypes.Active);
            await adminDataService.DeletePendingAccountSession();
            redirectService.redirectWithNavigationManager(PageRoutes.PENDING_ACCOUNTS);
        }
        catch (AccountNotFoundException ex)
        {
            Console.WriteLine("COULD NOT FETCH PRIMARY OWNER. " + ex.Message);
            error = ex.Message;
        }
        catch (UserNotFoundException ex)
        {
            Console.WriteLine("COULD NOT FETCH PRIMARY OWNER. " + ex.Message);
            error = ex.Message;
        }
    }
}