@using E_BankingSystem.Components.Client_page.Method

@if (Card is not null)
{
    <div class="shipping-container d-flex justify-content-between align-items-center p-3 border rounded bg-light gap-3 mx-2">
        <div class="d-flex align-items-center">
            <img class="logo mx-3" src="@Card.LogoUrl" alt="@Card.Name Logo" />
            <h6 class="mb-0">@Card.Name</h6>
        </div>

        @if (TransactionProcess)
        {
            <div class="form-check">
                <input class="form-check-input"
                       type="radio"
                       name="selectedCard"
                       id="@Card.Id"
                       value="@Card.Id"
                       checked="@((SelectedCardId == Card.Id))"
                       @onchange="@(() => SelectedCardIdChanged.InvokeAsync(Card.Id))" />
                <label class="form-check-label" for="@Card.Id"></label>
            </div>
        }
    </div>
}


@code {
    [Parameter] public CardModel Card { get; set; } = default!;
    [Parameter] public bool TransactionProcess { get; set; }
    [Parameter] public string SelectedCardId { get; set; } = string.Empty;
    [Parameter] public EventCallback<string> SelectedCardIdChanged { get; set; }
}
