@page "/Transactions"
@attribute [Authorize(Roles="User")]
@rendermode InteractiveServer

@inject NavigationManager NavigationManager
@inject PageRedirectService redirectService
@inject UserDataService userDataService
@inject UserControlledSessionService userControlledSessionService
@inject UserSessionService userSessionService

<div class="main">
    <header class="custom-card-clientpage clientheader py-4 align-items-start">
        <div class="px-5">
            <div class="d-flex align-items-center my-4">
                <h2>Transactions</h2>
            </div>
        </div>
    </header>

    <div class="d-flex align-items-center gap-3 m-3 flex-wrap">

        <div class="d-flex align-items-center gap-3">
            <label class="text-light mb-0" style="white-space: nowrap;">Start Date</label>
            <InputDate class="form-control" @bind-Value="startDate" />
        </div>

        <div class="d-flex align-items-center gap-3">
            <label class="text-light mb-0" style="white-space: nowrap;">End Date</label>
            <InputDate class="form-control" @bind-Value="endDate" />
        </div>

        <div class="d-flex align-items-center gap-3">
            <label class="text-light mb-0" style="white-space: nowrap;">Transaction Type</label>
            <select class="form-select" @bind="selectedTransactionType">
                <option value="0" disabled hidden>All</option>
                <option value="0">All</option>
                @foreach (var typeName in transactionTypes)
                {
                    <option value="@(transactionTypes.IndexOf(typeName) + 1)">@typeName</option>
                }
            </select>
        </div>

        <button class="btn btn-primary shadow-sm" @onclick="FilterTransactionsAsync">Filter</button>
        <button class="btn btn-danger shadow-sm" @onclick="ClearFilterAsync">Clear Filter</button>

    </div>

    <hr class="m-3" style="border: 1px solid white; opacity: 100%;" />

    <div class="table-responsive m-4 rounded">
        <table class="table table-bordered text-center">
            <thead class="table-info">
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Transaction Type</th>
                    <th>Status</th>
                    <th>Amount</th>
                    <th>Receiver ID</th>
                    <th>Sender ID</th>
                    <th>Previous Balance</th>
                    <th>New Balance</th>
                    <th>Transaction Fee</th>
                </tr>
            </thead>
            <tbody>
                @if (transactionListPage.Any())
                {
                    @foreach (var transaction in transactionListPage)
                    {
                        <tr class="bg-light">
                            <td>@transaction.TransactionDate.ToString("MM/dd/yyyy")</td>
                            <td>@transaction.TransactionTime.ToString(@"hh\:mm\:ss")</td>
                            <td>@transaction.TransactionType.TransactionTypeName</td>
                            <td>@transaction.Status</td>
                            <td>@transaction.Amount.ToString("C0")</td>
                            @* Set Receiver and Sender *@ 
                            @if (@transaction.TransactionType.TransactionTypeId == (int)@TransactionTypes.Outgoing_Transfer)
                            {
                                <td>@transaction.CounterAccount.AccountName</td>
                                <td>@transaction.MainAccount.AccountName</td>
                            }
                            else if (@transaction.TransactionType.TransactionTypeId == (int)@TransactionTypes.Incoming_Transfer)
                            {
                                <td>@transaction.MainAccount.AccountName</td>
                                <td>@transaction.CounterAccount.AccountName</td>
                            }
                            else if (transaction.TransactionType.TransactionTypeId == (int)TransactionTypes.Withdrawal)
                            {
                                <td>@transaction.ExternalVendor.VendorName</td>
                                <td>--</td>
                            }
                            else if (transaction.TransactionType.TransactionTypeId == (int)TransactionTypes.Deposit)
                            {
                                <td>--</td>
                                <td>@transaction.ExternalVendor.VendorName</td>
                            }
                            else
                            {
                                <td>--</td>
                                <td>--</td>
                            }
                            <td>@transaction.PreviousBalance</td>
                            <td>@transaction.NewBalance</td>
                            <td>@transaction.TransactionFee</td>
                            @* <td>@transaction.Date.ToString("MM/dd/yyyy")</td>
                        <td>@transaction.Time.ToString(@"hh\:mm\:ss")</td>
                        <td>@transaction.AccountNo.ToString()</td>
                        <td>@transaction.Type</td>
                        <td>@transaction.Amount.ToString("C0")</td>
                        <td>@(transaction.Type == "Transfer" ? transaction.ReceiverID : "--")</td>
                        <td>@(transaction.Type == "Transfer" ? transaction.SenderID : "--")</td>
                        <td>@transaction.previousBalance.ToString("C0")</td>
                        <td>@transaction.newBalance.ToString("C0")</td>
                        <td>@transaction.transactionFee.ToString("C0")</td> *@
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div class="scroll-container gap-3" >
        <!-- Up Arrow -->
        <button class="arrow-ud up">
            <i class="bi bi-chevron-up text-light" @onclick="PreviousPage"></i>
        </button>

        <!-- Down Arrow -->
        <button class="arrow-ud down">
            <i class="bi bi-chevron-down text-light" @onclick="NextPage"></i>
        </button>
    </div>

</div>

@code {
    private UserSession userSession { get; set; } = default!;
    private ActiveAccountSession activeAccountSession { get; set; } = default;
    private string error = "";

    private DateTime? startDate;
    private DateTime? endDate;

    private List<string> transactionTypes { get; set; } = new();
    private string selectedTransactionType = "0";

    private List<Transaction> transactionMasterList = new();
    private int masterListPageSize = 49;
    private int masterListAvailablePages = 0;
    private int masterListPageNumber = 1;

    private List<Transaction> transactionListPage = new();
    private int pageSize = 7;
    private int pageNumber = 1;

    private int accountId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        //  Load transaction types
        transactionTypes = TransactionTypeNames.TransactionTypeNameList;
        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                //  Get user session details from session storage
                //  Throws SessionNotFoundException if session is not found.
                userSession = await userSessionService.GetUserSession();
                activeAccountSession = await userControlledSessionService
                    .GetActiveAccountSessionAsync(userSession);
                accountId = activeAccountSession.AccountId;

                //  Get transaction list from database.
                pageNumber = 1;
                await FilterTransactionsAsync();

                StateHasChanged();
            }
            catch (SessionNotFoundException)
            {
                //  Redirect user to CLIENT_HOME if there is no ongoing user session.
                redirectService.redirectWithNavigationManager(PageRoutes.CLIENT_HOME);
            }
        }
    }

    private async Task NextPage()
    {
        pageNumber++;
        if (pageNumber > masterListAvailablePages)
        {
            masterListPageNumber++;
            pageNumber = 1;
            await FilterTransactionsAsync();

            if (masterListAvailablePages == 0)
            {
                await PreviousPage();
                return;
            }
        }
        else
        {
            LoadTransactionListPage(pageNumber);
        }
    }

    private async Task PreviousPage()
    {
        if (pageNumber > 1)
        {
            pageNumber--;
            LoadTransactionListPage(pageNumber);
        } 
        else if (masterListPageNumber > 1)
        {
            masterListPageNumber--;
            pageNumber = masterListAvailablePages;
            await FilterTransactionsAsync();
        }
    }

    private async Task ClearFilterAsync()
    {
        startDate = null;
        endDate = null;
        selectedTransactionType = "";
        pageNumber = 1;
        masterListPageNumber = 1;
        await FilterTransactionsAsync();
    }

    private async Task FilterTransactionsAsync()
    {
        //  Load the filtered transaction list from the database.
        int transactionType = !string.IsNullOrWhiteSpace(selectedTransactionType) 
            ? Convert.ToInt32(selectedTransactionType)
            : 0;
        transactionMasterList = await userDataService.GetRecentAccountTransactionsAsync(
            accountId,
            transactionTypeId: transactionType,
            pageSize: masterListPageSize,
            pageNumber: masterListPageNumber,
            transactionStartDate: startDate,
            transactionEndDate: endDate
        );
        masterListAvailablePages = (int)Math.Ceiling((double)transactionMasterList.Count / pageSize);
        LoadTransactionListPage(pageNumber);
    }

    private void LoadTransactionListPage(int page=1)
    {
        if (transactionMasterList.Any())
        {
            transactionListPage = userDataService
                .GetTransactionListPage(
                    transactionMasterList, 
                    pageNumber: page,
                    pageSize: pageSize
                );
        }
    }
}